{% extends 'index.html' %}
{% block content %}
<h2>Cambiar Contraseña</h2>

<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <p>
        <label for="id_old_password">Contraseña Actual:</label>
        <input type="password" id="id_old_password" name="old_password" required><br />
    </p>
    <p>
        <label for="id_new_password1">Contraseña nueva:</label>
        <input type="password" id="id_new_password1" name="new_password1" required><br />
    </p>
    <p>
        <label for="id_new_password2">Confirmar Contraseña:</label>
        <input type="password" id="id_new_password2" name="new_password2" required><br />
    </p>

    <button type="submit">Actualizar Contraseña</button>

</form>
{% endblock %}