{% extends 'index.html' %}
{% block contenido %}
<div class="section-header">
    <h2>Cambiar Contraseña</h2>
</div>

<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <label for="id_old_password">Contraseña Actual:</label>
    <input type="password" id="id_old_password" name="old_password" required>

    <label for="id_new_password1">Contraseña nueva:</label>
    <input type="password" id="id_new_password1" name="new_password1" help_text="{{ form.new_password1.help_text }}"
        required>

    <label for="id_new_password2">Confirmar Contraseña:</label>
    <input type="password" id="id_new_password2" name="new_password2" required>

    <button type="submit">Actualizar Contraseña</button>
</form>
{% endblock %}