{% extends "index.html" %}

{% block contenido %}
<section class="recent-section">
    <div class="section-header">
        <h2>Autores</h2>
        <a href="{% url 'crear_autor' %}" class="btn-add">+ Nuevo Autor</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Bibliografía</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for autor in autores %}
            <tr>
                <td>
                {% if autor.imagen %}
                    <img src="{{ autor.imagen.url }}" alt="{{ autor.nombre }}" style="max-height: 100px; max-width: 50px;">
                {% else %}
                    No Ingresada
                {% endif %}
                </td>
                <td>{{ autor.nombre }}</td>
                <td>{{ autor.apellido }}</td>
                <td>{{ autor.bibliografia }}</td>
                <td>
                    <a href="{% url 'editar_autor' autor.id %}"
                        style="color: var(--neon-blue); text-decoration: none;">Editar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3" style="text-align: center;">No hay autores registrados.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}