{% extends 'index.html' %}
<!-- Seccion Autores -->
{% block content %}
<h2>Crear Autor</h2>
<form method="post">
    {% csrf_token %}
    <label for="id_nombre" name=`nombre`>Nombre</label>
    <input type="text" id="id_nombre" name="nombre">
    <label for="id_apellido" name=`apellido`>Apellido</label>
    <input type="text" id="id_apellido" name="apellido">
    <label for="id_bibliografia" name=`bibliografia`>Bibliografia</label>
    <input type="text" id="id_bibliografia" name="bibliografia">
    <button type="submit">Guardar</button>
</form>
{% endblock %}