{% extends 'index.html' %}

{% block contenido %}
<div class="section-header">
    <h2>Crear Libro</h2>
</div>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="id_titulo">Titulo</label>
    <input type="text" id="id_titulo" name="titulo" required>

    <label for="id_autor">Autor</label>
    <select name="autor" id="id_autor" required>
        <option value="">Seleccione un autor</option>
        {% for autor in autores %}
        <option value="{{ autor.id }}">
            {{ autor.nombre }} - {{ autor.apellido }}
        </option>
        {% endfor %}
    </select>

    <div style="display: flex; align-items: center; margin-bottom: 1rem;">
        <input type="checkbox" id="id_disponible" name="disponible"
            style="width: auto; margin-right: 10px; margin-bottom: 0;">
        <label for="id_disponible" style="margin-bottom: 0;">Disponible</label>
    </div>

    <label for="id_bibliografia">Bibliografia</label>
    <input type="text" id="id_bibliografia" name="bibliografia" required>

    <label for="id_imagen">Imagen: </label>
    <input type="file" id="id_imagen" name="imagen" accept="image/*"></br>

    <button type="submit">Guardar</button>
</form>
{% endblock %}