{% extends 'index.html' %}

{% block contenido %}
<div class="section-header">
    <h2>Crear Préstamo</h2>
</div>

<form method="post">
    {% csrf_token %}
    <label for="id_libro">Libro</label>
    <select id="id_libro" name="libro" required>
        <option value="">--Seleccione un Libro--</option>
        {% for libro in libros %}
        <option value="{{ libro.id }}">{{ libro.titulo }}</option>
        {% endfor %}
    </select>

    <label for="id_usuario">Usuario</label>
    <select id="id_usuario" name="usuario" required>
        <option value="">--Seleccione un Usuario--</option>
        {% for usuario in usuarios %}
        <option value="{{ usuario.id }}">{{ usuario.username }}</option>
        {% endfor %}
    </select>

    <label for="id_fecha_prestamo">Fecha Préstamo</label>
    <input type="date" id="id_fecha_prestamo" name="fecha_prestamo" value="{{ fecha }}" required>

    <button type="submit">Crear Préstamo</button>
</form>
{% endblock %}