{% extends "index.html" %}

{% block contenido %}
<section class="recent-section">
    <div class="section-header">
        <h2>Libros</h2>
        <a href="{% url 'crear_libros' %}" class="btn-add">+ Nuevo Libro</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Disponible</th>
            </tr>
        </thead>
        <tbody>
            {% for libro in libros %}
            <tr>
                <td>
                    {% if libro.imagen %}
                    <img src="{{ libro.imagen.url }}" alt="{{ libro.titulo }}"
                        style="max-height: 100px; max-width: 50px;">
                    {% else %}
                    No Ingresada
                    {% endif %}
                </td>
                <td>{{ libro.titulo }}</td>
                <td>{{ libro.autor }}</td>
                <td>
                    {% if libro.disponible %}
                    <span class="status available">Disponible</span>
                    {% else %}
                    <span class="status borrowed">Prestado</span>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3" style="text-align: center;">No hay libros registrados.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}