{% extends "index.html" %}

{% block contenido %}
<table style="border: 1px solid">
    <tr style="border: 1px solid">
        <td style="border: 1px solid">Titulo</td>
        <td style="border: 1px solid">Autor</td>
        <td style="border: 1px solid">Disponible</td>
    </tr>
    {% for libro in libros %}
    <tr style="border: 1px solid">
        <td style="border: 1px solid">
            {{ libro.titulo }}
        </td>
        <td style="border: 1px solid">
            {{ libro.autor }}
        </td>
        <td style="border: 1px solid">
            {{ libro.disponible}}
        </td>
    </tr>
    {% endfor %}

</table>
{% if is_paginated %}
<div class="pagination">
    {% if page_obj.has_previous %}
    <a href="?page=1">Primera</a>
    <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
    {% endif %}
    <span>
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">Ultima</a>
    {% endif %}
</div>
{% endif %}
{% endblock %}