{% extends "index.html" %}

<!-- Seccion de autores -->
{% block contenido %}
<h2> PRESTAMOS </h2>
<table style="border: 1px solid">
    <tr style="border: 1px solid">
        <td style="border: 1px solid">Libro</td>
        <td style="border: 1px solid">Usuario</td>
        <td style="border: 1px solid">fecha_prestamos</td>
        <td style="border: 1px solid">fecha_max</td>
        <td style="border: 1px solid">fecha_devolucion</td>
        <td style="border: 1px solid">dias_retraso</td>
        <td style="border: 1px solid">multa_retraso</td>

    </tr>
    {% for prestamo in prestamos %}
    <tr style="border: 1px solid">
        <td style="border: 1px solid">
            {{ prestamo.libro }}
        </td>

        <td style="border: 1px solid">
            {{ prestamo.usuario}}
        </td>
        <td style="border: 1px solid">
            {{ prestamo.fecha_prestamos}}
        </td>
        <td style="border: 1px solid">
            {{ prestamo.fecha_max}}
        </td>
        <td style="border: 1px solid">
            {{ prestamo.fecha_devolucion}}
        </td>
        <td style="border: 1px solid">
            {{ prestamo.dias_retraso}}
        </td>
        <td style="border: 1px solid">
            {{ prestamo.multa_retraso }}
        </td>
    </tr>
    {% endfor %}

</table>

{% endblock %}