{% extends "index.html" %}

{% block contenido %}
<section class="recent-section">
    <div class="section-header">
        <h2>Usuarios</h2>
        <!-- No create button -->
    </div>
    <table>
        <thead>
            <tr>
            <tr>
                <th>Usuario</th>
                <th>DNI</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Activo</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td><a href="{% url 'detalle_usuario' usuario.id %}" style="color: var(--neon-blue);">{{
                        usuario.username }}</a></td>
                <td>{{ usuario.perfil.dni|default:"-" }}</td>
                <td>{{ usuario.perfil.telefono|default:"-" }}</td>
                <td>{{ usuario.email|default:"-" }}</td>
                <td>
                    {% if usuario.is_active %}
                    <span class="status available">Si</span>
                    {% else %}
                    <span class="status borrowed">No</span>
                    {% endif %}
                </td>
                <td>{{ usuario.is_staff|yesno:"Si,No" }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" style="text-align: center;">No hay usuarios registrados.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}